$primary-color: #FEE600;
$free-shipping-color: #2ecc71;
$background-color: #EEEEEE;
$background-color-item: #ffffff;
$border-color-item: #dddddd;
$text-button-color: #EEEEEE;
$text-description-color: #333;
$search-button-color: #E7E9E9;
$button-color: #3286F1;
$border-color: #bdc3c7;
$shadow-color: #0000