@use "../../styles/variables" as color;

.search-results {
  max-width: 70vw;
}

.breadcrumb {
  margin-bottom: 1rem;
}

.results {
  display: flex;
  flex-direction: column;
}

.result-item {
  display: flex;
  background-color: color.$background-color-item;
  border: 1px solid color.$border-color-item;
  border-radius: 4px;
  overflow: hidden;
  width: 100%;
  position: relative;
}

.item-link {
  display: flex;
  text-decoration: none;
  color: inherit;
  padding: 2rem;
}

.item-image {
  width: 12.5rem;
  height: 100%;
  object-fit: cover;
}

.item-info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.item-price {
  font-size: 1.2rem;
}

.item-title {
  font-size: 1rem;
  margin: 0.5rem 0;
}

.free-shipping {
  color: color.$free-shipping-color;
  font-size: 0.9rem;
  position: absolute;
  right: 1rem;
  margin-right: 1rem;
}

.breadcrumb-container {
  align-items: flex-start;
  min-width: 950px;
}

@media (max-width: 1200px) {
  .breadcrumb-container {
    min-width: 650px;
  }
}

@media (max-width: 927px) {
  .breadcrumb-container {
    min-width: 550px;
  }
}

@media (max-width: 745px) {
  .breadcrumb-container {
    min-width: 350px;
  }
  .item-link {
    flex-wrap: wrap;
  }
}

@media (max-width: 495px) {
  .breadcrumb-container {
    min-width: 250px;
  }
}
